/* Coolors Exported Palette - https://coolors.co/f3f9d2-cbeaa6-c0d684-adaf7a-856165-713a5a */

/* CSS HEX */
--light-goldenrod-yellow: #f3f9d2ff;
--tea-green: #cbeaa6ff;
--yellow-green-crayola: #c0d684ff;
--misty-moss: #adaf7aff;
--deep-taupe: #856165ff;
--old-mauve: #713a5aff;

/* CSS HSL */
--light-goldenrod-yellow: hsla(69, 76%, 90%, 1);
--tea-green: hsla(87, 62%, 78%, 1);
--yellow-green-crayola: hsla(76, 50%, 68%, 1);
--misty-moss: hsla(62, 25%, 58%, 1);
--deep-taupe: hsla(353, 16%, 45%, 1);
--old-mauve: hsla(325, 32%, 34%, 1);

/* SCSS HEX */
$light-goldenrod-yellow: #f3f9d2ff;
$tea-green: #cbeaa6ff;
$yellow-green-crayola: #c0d684ff;
$misty-moss: #adaf7aff;
$deep-taupe: #856165ff;
$old-mauve: #713a5aff;

/* SCSS HSL */
$light-goldenrod-yellow: hsla(69, 76%, 90%, 1);
$tea-green: hsla(87, 62%, 78%, 1);
$yellow-green-crayola: hsla(76, 50%, 68%, 1);
$misty-moss: hsla(62, 25%, 58%, 1);
$deep-taupe: hsla(353, 16%, 45%, 1);
$old-mauve: hsla(325, 32%, 34%, 1);

/* SCSS RGB */
$light-goldenrod-yellow: rgba(243, 249, 210, 1);
$tea-green: rgba(203, 234, 166, 1);
$yellow-green-crayola: rgba(192, 214, 132, 1);
$misty-moss: rgba(173, 175, 122, 1);
$deep-taupe: rgba(133, 97, 101, 1);
$old-mauve: rgba(113, 58, 90, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-right: linear-gradient(90deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-bottom: linear-gradient(180deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-left: linear-gradient(270deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-top-right: linear-gradient(45deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-bottom-right: linear-gradient(135deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-top-left: linear-gradient(225deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-bottom-left: linear-gradient(315deg, #f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);
$gradient-radial: radial-gradient(#f3f9d2ff, #cbeaa6ff, #c0d684ff, #adaf7aff, #856165ff, #713a5aff);